* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}

.wrapper {
    width: 100%;
}

.header {
    background: url(img/background_header.png) no-repeat;
    background-size: cover;
    height: 770px;
    position: relative;
    display: flex;
    justify-content: center;
}

.blur {
    background: #000000;
    width: 100%;
    height: 770px;
    opacity: 0.5;
}

.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .container {
        width: 100%;
        padding: 0 25px;
    }
    .navigation li {
        margin: 0 15px;
    }
    .social li {
        margin: 0 10px;
    }
}

.header>.container {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: 120px 180px auto;
}

.head-contain {
    width: 100%;
    line-height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 36px;
    color: #EBCB80;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.navigation {
    display: inline-block;
}

ul {
    display: flex;
}

li {
    margin: 0 25px;
    list-style-type: none;
}

.social li {
    margin: 0 20px;
}

li:first-child {
    margin-left: 0;
}

li:last-child {
    margin-right: 0;
}

.navigation a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

.social {
    top: 0;
    position: absolute;
    right: 0;
}

.head-title {
    margin: 0 auto;
    margin-top: 20px;
    width: 620px;
    text-align: center;
}

.head-title h1 {
    font-size: 44px;
    font-weight: normal;
    color: #ffffff;
}

.video-frame {
    margin: 0 auto;
    display: block;
}

.avantages {
    overflow: hidden;
}

.avantages>.container {
    padding: 80px 0 60px 0;
}

.avantage-title {
    text-align: center;
}

.avantage-title p {
    margin-top: 32px;
    text-transform: uppercase;
}

.avantage-content {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}


/******** css item ***********/

.item {
    margin-top: 20px;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    grid-template-columns: auto auto;
}

.item-content {
    padding: 0 30px;
}

.titlebox {
    padding-bottom: 15px;
    border-bottom: 3px solid #F6F6F6;
}

.titlebox>.description {
    line-height: 14px;
}

.item-content>.title,
.titlebox>.title {
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: normal;
}

.item-content>.content {
    margin-top: 10px;
}


/*******************************/

.cta {
    height: 680px;
    width: 100%;
    background: url(img/backgroundCTA.png) center bottom no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.cta>.container {
    width: 555px;
    display: grid;
    grid-template-rows: auto auto auto;
}

.text-align {
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.title {
    font-size: 44px;
    line-height: 48px;
    text-transform: capitalize;
}

.cta .description {
    margin-top: 25px;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-download {
    width: 210px;
    font-size: 16px;
    color: #000000;
    padding: 15px;
    border: none;
    background-color: #EBCB80;
    border-radius: 30px;
    margin-top: 40px;
}

.testimonials>.container {
    padding-bottom: 50px;
}

.testimonials>.container>.title {
    padding: 70px 0 30px 0;
}

.testimonial-content {
    color: #4B4B4B;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 20px 4%;
}

.testimonial-content .description {
    color: #7D7D7D;
    padding-top: 8px;
}

.title-black,
.color-black {
    color: #4B4B4B;
}

.testimonial-content .titlebox>.title {
    font-size: 16px;
}

.testimonial-content .item-content .content {
    margin-top: 30px;
}

.testimonial-content .item {
    margin: 0;
    padding: 40px 50px;
    border-radius: 20px;
}

.testimonial-content .item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/*********** person link ************/

.person-link {
    margin-top: 20px;
}

.person-link li {
    margin: 0 7px;
}

.person-link li:first-child {
    margin-left: 0;
}

.person-link li:last-child {
    margin-right: 0;
}

.is-display {
    display: inherit;
}

.is-no-display {
    display: none
}


/***********************************/


/*************** plan **************/

.plan {
    background-color: #F6F6F6;
    padding: 70px 0 100px 0;
}

.plan-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.plan-item {
    position: relative;
    width: 270px;
    height: 415px;
    border-radius: 8px;
    margin-left: 65px;
}

.plan-item:first-child {
    margin-left: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.plan-contain {
    box-sizing: border-box;
    padding: 40px 20px 35px 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.plan-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.plan-description ul {
    display: block;
}

.plan-description ul li {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.plan-price {
    padding: 30px 0 20px 0;
    box-sizing: border-box;
}

.plan-price .dollar {
    margin: 0 auto;
    font-size: 64px;
    text-align: center;
}

.plan-price sup {
    font-size: 24px;
}

.plan-price .time {
    font-size: 24px;
    text-align: center;
}

.plan-btn {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
}


/***********************************/


/********* plan customer************/


/* sivler */

.silver {
    background-color: #4B4B4B;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.silver .overlay {
    background: linear-gradient(213.44deg, rgba(255, 255, 255, 0.7) -10.49%, rgba(255, 255, 255, 7e-05) 75.76%);
    opacity: 0.3;
}

.silver .plan-title {
    color: #EBCB80;
}

.silver .plan-btn {
    background-color: #EBCB80;
    color: #4B4B4B
}


/*********/


/* gold */

.gold {
    background-color: #EBCB80;
    color: #484848;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gold .overlay {
    background: linear-gradient(214.29deg, rgba(255, 255, 255, 0.496575) -18.27%, rgba(255, 255, 255, 0.0001) 81.73%);
    opacity: 0.5;
}

.gold .plan-title {
    color: #484848;
}

.gold .plan-btn {
    background-color: #484848;
    color: #ffffff;
}


/*******/


/* platinum */

.platinum {
    background-color: #4B4B4B;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.platinum .overlay {
    background: linear-gradient(212.89deg, rgba(0, 0, 0, 0.0001) -12.37%, rgba(0, 0, 0, 0.401127) 80.15%);
    opacity: 0.5;
}

.platinum .plan-title {
    color: #EBCB80;
}

.platinum .plan-btn {
    background-color: #EBCB80;
    color: #4B4B4B;
}


/************/


/***********************************/


/*********** project ***************/

.project {
    padding: 70px 0;
}

.project-content {
    margin-top: 55px;
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 380px 380px 380px;
}

.projects img {
    width: 100%;
    height: 100%;
}

.project1 {
    grid-column: span 1;
}

.project2,
.col2 {
    grid-column: span 2;
}

.two-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.project-context {
    position: absolute;
    color: #ffffff;
    padding: 50px 40px;
    top: 0;
    grid-column: 2;
}

.project-context .title,
.title1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: normal;
}

.project-context .date {
    font-size: 18px;
    line-height: 30px;
}

.project-context hr {
    width: 32px;
    border: 3px solid #ffffff;
    margin: 30px 0 40px 0;
}

.project-context .content {
    font-size: 16px;
    line-height: 24px;
}


/* feel */

.feel {
    display: flex;
    margin-top: 20px;
}

.feel-item {
    margin-left: 30px;
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto;
}

.feel-item:first-child {
    margin-left: 0;
}

.feel-item .img {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.feel-item .img img {
    height: fit-content;
}

.data-number {
    display: grid;
    grid-template-rows: auto auto auto;
    width: fit-content;
    padding: 6px;
}

.data-number p {
    display: flex;
    align-items: center;
    line-height: 24px;
    font-size: 12px;
}


/********/

.div6 .project-context {
    color: #4B4B4B;
    position: static;
    padding: 45px 60px;
}

.div6 .project-context .title,
.title1 {
    font-weight: lighter;
}

.div6 hr {
    border: 3px solid #4B4B4B;
}

.div6 .description,
.description1 {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.topic {
    font-size: 64px;
    line-height: 54px;
}


/* pagination */

.pagination {
    width: fit-content;
    margin: 65px auto 0 auto;
}

.pagination li {
    color: #4B4B4B;
    margin: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 15px;
    font-size: 18px;
    line-height: 24px;
}

.pagination ul {
    display: flex;
    align-items: center;
}

.pagination .hover,
.pagination li:hover {
    color: #EBCB80;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.pagination .btn {
    width: 8px;
    height: 16px;
}

.pagination .prev {
    background: url(img/prev.png) no-repeat center;
    margin-right: 50px;
}

.pagination .next {
    background: url(img/next.png) no-repeat center;
    margin-left: 50px;
}


/**************/


/***********************************/


/**************** team *************/

.team {
    background: url(img/Background_team.png) no-repeat;
    background-size: cover;
}

.team>.container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 0;
}

.team-contain {
    grid-column: 2;
    color: #ffffff;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 160px 0 0 20%;
}

.type-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.team-context .content {
    font-size: 16px;
    line-height: 24px;
}

.vertical-dot {
    position: relative;
}

.vertical-dot ul {
    position: absolute;
    top: 110px;
    right: 0;
    display: inherit;
    width: fit-content;
    height: fit-content;
}

.vertical-dot li {
    background: url(img/dot.png) no-repeat;
    width: 10px;
    height: 11px;
    margin: 0 0 12px 0;
}

.vertical-dot ul .hover,
.vertical-dot li:hover {
    background: url(img/dot_hover.png) no-repeat;
}


/**********************************/


/*********** contact **************/

.contact {
    padding: 70px 0 0 0;
}

.contact-content {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 30% 30% 30%;
}

.contact-iphone img {
    width: 100%;
    display: block;
}

.form {
    display: flex;
    align-items: center;
}

.form form {
    width: 100%;
}

.form input[type=text] {
    border: 0;
    border-bottom: 2px solid #7D7D7D;
    color: #7D7D7D;
    font-size: 18px;
    line-height: 27px;
    padding: 5px 0;
}

.form input[type=submit] {
    text-transform: uppercase;
    font-size: 16px;
    width: 210px;
    height: 50px;
    background: #EBCB80;
    color: #3C3C3C;
    border: none;
    border-radius: 50px;
}

.contact form {
    display: grid;
    grid-gap: 40px 10%;
    grid-template-columns: 45% 45%;
}

.btn-submit {
    display: flex;
    justify-content: center;
}

.address .person-link li {
    padding: 0;
    margin: 0 0 0 35px;
}

.address {
    display: flex;
    align-items: center;
    padding: 20px;
}

.address .person-link,
.person-link1 {
    margin-top: 40px;
}

.address .person-link li:first-child,
.person-link1 li:first-child {
    padding: 0;
    margin-left: 0;
}

.address .item {
    margin: 0;
    grid-template-columns: 17px 70%;
    grid-gap: 10%;
    padding: 13px 0;
}

.address .item p {
    font-size: 16px;
    line-height: 28px;
}

.address .item p::first-line {
    line-height: 16px;
}

address .item img {
    margin: 0 auto;
}


/**********************************/


/************* map ****************/

.map>.container {
    width: 100%;
    height: 400px;
    background-color: #4B4B4B;
}


/**********************************/


/************** footer ************/

.footer {
    background: #4B4B4B;
    color: #ffffff;
}

.footer>.container {
    display: grid;
    padding-top: 40;
    padding-bottom: 60px;
    grid-template-columns: 50% 50%;
}

.footer-left {
    max-width: 270px;
}

.footer-left>.title {
    color: #EBCB80;
    font-weight: normal;
    text-transform: uppercase;
}

.footer-left .content p {
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0;
}

.footer-left .content .copyright {
    font-size: 16px;
}

.title-small {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 30px 0 15px 0;
}

.subscribe .contain {
    display: flex;
    align-items: center;
}

.subscribe input[type=text] {
    font-size: 16px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #7D7D7D;
    color: #7D7D7D;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: transparent;
}

.subscribe input[type=button] {
    height: 50px;
    width: 50px;
    border-radius: 0 5px 5px 0;
    background: #EBCB80 url(img/subscribe-button.png) center no-repeat;
    border: none;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right ul a {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-right li {
    margin: 0;
    padding: 0;
}

.footer-right .contain>ul {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 15px;
}

.footer-right .contain {
    width: 100%;
}

.footer-bottom .person-link {
    margin-left: 33.33%;
    margin-top: 0;
}

.footer-bottom {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-bottom .person-link ul {
    padding-top: 10px;
    justify-content: space-between;
}


/**********************************/